<!DOCTYPE html>
<html>
<head>
  <title>Thinkingshape</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/my_style.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
<!-- Latest compiled and minified JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
 <!-- <script type="text/javascript" src="/assets/javascripts/jquery.min.js"></script>-->
	<!--<script type="text/javascript" src="/assets/javascripts/bootstrap.min.js"></script>-->
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
  <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
</head>
<body>
<%= render 'layouts/header' %>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= render 'layouts/dialogue' if user_signed_in? %>
<%#= render 'layouts/sidemenu' if user_signed_in? %>
<%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>
